<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f9e335be-ce6d-4379-ba90-7cdfe1329aea" Publisher="CN=allan.oliveira" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WOrderTracking</DisplayName>
    <PublisherDisplayName>allan.oliveira</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WOrderTracking.App">
      <VisualElements DisplayName="WOrderTracking" Logo="Images\package_150.png" SmallLogo="Images\package_30.png" Description="WOrderTracking" ForegroundText="dark" BackgroundColor="#CED8F6" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Images\package_310.png" ShortName="WTracking Order" />
        <SplashScreen Image="Images\package_splash.png" BackgroundColor="#CED8F6" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileOpenPicker">
          <FileOpenPicker>
            <SupportedFileTypes>
              <SupportsAnyFileType />
            </SupportedFileTypes>
          </FileOpenPicker>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="xml_files">
            <SupportedFileTypes>
              <FileType>.xml</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>