<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="f9e335be-ce6d-4379-ba90-7cdfe1329aea" Publisher="CN=allan.oliveira" Version="1.0.0.0" />
  <Properties>
    <DisplayName>WOrderTracking</DisplayName>
    <PublisherDisplayName>allan.oliveira</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WOrderTracking.App">
      <VisualElements DisplayName="WOrderTracking" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="WOrderTracking" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Images\magnifier.png" BackgroundColor="#333399" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>